{% extends "base.html" %} {% block title %}상세 페이지{% endblock %} {% block
head %} {{ super() }}

<style type="text/css">
  .important {
    color: #336699;
  }
</style>

{% endblock %} {% block content %} {% block navbar %}{% endblock %}
<!--images-->
<div
  id="carouselExampleIndicators"
  class="carousel slid float-start"
  data-bs-ride="true"
  style="
    max-width: 900px;
    width: 95%;
    max-height: 1000px;
    height: 100%;
    margin: 20px 100px 20px 20px;
  "
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="static/img/puppy-gd9b77039c_640.jpg"
        class="d-block w-100"
        alt="puppy-gd9b77039c_640.jpg"
      />
    </div>
    <div class="carousel-item">
      <img
        src="static/img/puppy-gd9b77039c_640.jpg"
        class="d-block w-100"
        alt="puppy-gd9b77039c_640.jpg"
      />
    </div>
    <div class="carousel-item">
      <img
        src="static/img/puppy-gd9b77039c_640.jpg"
        class="d-block w-100"
        alt="puppy-gd9b77039c_640.jpg"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--right description-->
<table
  class="table"
  style="
    max-width: 800px;
    width: 95%;
    max-height: 1000px;
    height: 100%;
    margin: 20px 20px 60px 20px;
  "
>
  <thead>
    <tr>
      <th
        scope="col"
        class="h1 text-center"
        style="width: 33.3%; height: 100px"
      >
        [{{ data.basicInfo.type }}]
      </th>
      <th scope="col" class="h1">{{ data.petInfo.typeDetail }}</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">성별</th>
      <td>{{ data.petInfo.sex }}</td>
    </tr>
    <tr>
      <th scope="row">나이</th>
      <td>{{ data.petInfo.age }}살</td>
    </tr>
    <tr>
      <th scope="row">몸무게</th>
      <td colspan="2">{{ data.petInfo.weight }}kg</td>
    </tr>
    <tr>
      <th scope="row">실종일</th>
      <td colspan="2">{{ data.basicInfo.date }}</td>
    </tr>
    <tr>
      <th scope="row">실종장소</th>
      <td colspan="2">{{ data.basicInfo.location }}</td>
    </tr>
    <tr>
      <th scope="row">연락처</th>
      <td colspan="2">{{ data.basicInfo.tel }}</td>
    </tr>
  </tbody>
</table>

<!--특징 및 상세설명-->
<div class="card" style="width: 95%; margin: 20px 20px 20px 20px">
  <h5 class="card-header">상세 설명</h5>
  <div class="card-body" style="height: 300px">
    <p class="card-text">{{ data.petInfo.details }}</p>
  </div>
</div>

<h2 class="detailsh2">발견하시거나 아는 것이 있으시면 댓글을 남겨주세요</h2>

<!--댓글 남기기-->
<div class="mypost" style="width: 95%; margin: 20px 20px 20px 20px">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="name" placeholder="url" />
    <label for="floatingInput">닉네임</label>
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="comment"
      style="height: 100px"
    ></textarea>
    <label for="floatingTextarea2">댓글을 남겨주세요</label>
  </div>
  <div style="width: 95%; height: 50px; margin: 20px 20px 20px 20px">
    <button
      onclick="save_comment()"
      type="button"
      class="btn btn-success float-end m-2 mb-2"
    >
      댓글 남기기
    </button>
  </div>
</div>

<!--댓글 조회-->
<div class="mycards" id="comment-list"></div>

{% endblock %}
