{% extends "base.html" %} {% block title %}메인 페이지{% endblock %} {% block
head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }

  #list-box > div {
    cursor: pointer;
  }
</style>
<script>
  $(document).ready(function () {});

  // 신고/제보 등록 페이지로 이동
  function goToPostPage() {
    window.location.href = "/view/posts";
  }

  // 리스트 상세 페이지로 이동
  function goToPostDetail() {
    const target = event.currentTarget;
    const postId = target.querySelector("#postId").innerText;

    window.location.href = `/api/posts/${postId}`;
  }
</script>
{% endblock %} {% block content %} {% block navbar %}{% endblock %}
<!--main banner-->
<div class="main-banner">
  <h1>Bow-Meow</h1>
</div>

<!--top description-->
<div class="top-desc">
  <h1>집을 잃은 강아지/고양이를 제보해주세요.</h1>
  <h3>소중한 반려동물이 가정으로 돌아가도록 돕겠습니다.</h3>
</div>

<!--card section-->
<div class="row row-cols-1 row-cols-md-4 g-4 m-1" id="list-box">
  <!-- 반복되는 구간 -->
  {% for data in datas %}
  <div class="col">
    <div class="card h-100" onclick="goToPostDetail()">
      <img
        src="static/img/puppy-gd9b77039c_640.jpg"
        class="card-img-top"
        alt="test image"
      />
      <div class="card-body">
        <span id="postId" style="display: none">{{ data['_id']['$oid'] }}</span>
        <h5 class="card-title">
          [{{ data.basicInfo.type }}] {{ data.petInfo.typeDetail}}
        </h5>
        <p class="card-text">{{data.petInfo.sex}} / {{data.petInfo.type}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- 반복되는 구간 끝 -->
</div>
<div>
  <!-- 페이지네이션을 위한 코드 시작 -->
  {% if block_start - 1 > 0 %}
  <a href="{{url_for('posts_list_get', page=block_start - 1)}}">[이전]</a>
  {% endif %} {% for i in range(block_start, block_end + 1)%}
  <!-- 데이터가 존재하지 않는 페이지는 화면에 나타내지 않기 위한 조건문 -->
  {% if i > last_page_num %} {% else %} {% if i == page %}
  <b>{{ i }}</b>
  {% else %}
  <a href="{{url_for('posts_list_get', page=i)}}">{{ i }}</a>
  {% endif %} {% endif %} {% endfor %} {% if block_end < last_page_num %}
  <a href="{{url_for('posts_list_get', page=block_end + 1)}}">[다음]</a>
  {% endif %}
  <!-- 페이지네이션을 위한 코드 끝 -->
</div>
<div class="card m-5">
  <div class="card-body">
    <h5 class="card-title">유기동물 신고/제보</h5>
    <p class="card-text">잃어버린 반려동물의 정보를 입력해 주세요.</p>
    <a class="btn btn-success" onclick="goToPostPage();">신고/제보</a>
  </div>
</div>

<!--report section-->
{% endblock %}
